body {
background-color: rgba(0, 0, 0, 0.863);
color: rgb(190, 15, 15);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(228, 195, 10);
padding: 30px;
color: rgb(150, 69, 255);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}